.primary {
	width: 100px;
	height: 1020px;
	background: #1d2531;
	float: left;
}

.secondry {
	width: 250px;
	height: 1020px;
	background: #222c3c;
	float: left;
}

.main {
	width: 1230px;
	height: 1020px;
	background: #fff;
	float: left;
}

.actions {
	width: 48px;
	height: 16px;
	margin: 660px auto 20px;
}

.grid {
	width: 16px;
	height: 16px;
	float: left;
	cursor: pointer;
}

.setting {
	width: 16px;
	height: 16px;
	float: left;
	margin-left: 16px;
	cursor: pointer;
}

.item1 {
	width: 64px;
	height: 64px;
	margin: 18px auto 0;
	cursor: pointer;
}

.item2 {
	width: 64px;
	height: 64px;
	margin: 16px auto 0;
	cursor: pointer;
}

.item3 {
	width: 64px;
	height: 65px;
	margin: 15px auto 0;
	cursor: pointer;
}

.add-items {
	width: 64px;
	height: 64px;
	margin: 16px auto 0;
	cursor: pointer;
}

.wrapper-secondry {
	width: 191px;
	height: 967px;
	margin: 30px 30px 23px 29px;
}

.wrapper-secondry span {
	display: block;
}

.sub-menu {
	width: 191px;
	height: 225px;
	border-bottom: solid 1px #2a3547;
}

.catagory {
	width: 191px;
	height: 16px;
}

.catagory span {
	line-height: 16px;
	font-size: 10px;
	color: #5b6779;
	float: left;
}

.catagory img {
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
}

.overview {
	width: 191px;
	height: 16px;
	margin-top: 24px;
	line-height: 16px;
	font-size: 10px;	
}

.sales {
	width: 191px;
	height: 16px;
	margin-top: 20px;
	line-height: 16px;
	font-size: 10px;	
}

.staff {
	width: 191px;
	height: 16px;
	margin-top: 20px;
	line-height: 16px;
	font-size: 10px;	
}

.analytic {
	width: 191px;
	height: 16px;
	margin-top: 20px;
	line-height: 16px;
	font-size: 10px;	
}

.new {
	width: 191px;
	height: 16px;
	margin-top: 20px;
	line-height: 16px;
	font-size: 10px;	
}

.overview a,
.sales a,
.staff a,
.analytic a,
.new a {
	color: #b7c0cd;
}

.products {
	width: 191px;
	height: 194px;
	margin-top: 23px;
	border-bottom: solid 1px #2a3547;
}

.books {
	width: 191px;
	height: 18px;
	margin-top: 22px;
	line-height: 18px;
	font-size: 10px;
}

.books img {
	width: 18px;
	height: 18px;
	float: left;
	margin-left: 1px;
	margin-right: 12px;
}

.tutorials {
	width: 191px;
	height: 18px;
	margin-top: 18px;
	line-height: 18px;
	font-size: 10px;	
}

.tutorials img {
	width: 18px;
	height: 18px;
	float: left;
	margin-left: 1px;
	margin-right: 11px;
}

.stocks {
	width: 191px;
	height: 20px;
	margin-top: 18px;
	line-height: 20px;
	font-size: 10px;	
}

.stocks img {
	width: 18px;
	height: 20px;
	float: left;
	margin-left: 1px;
	margin-right: 11px;
}

.infogra {
	width: 191px;
	height: 18px;
	margin-top: 17px;
	line-height: 18px;
	font-size: 10px;	
}

.infogra img {
	width: 18px;
	height: 18px;
	float: left;
	margin-left: 1px;
	margin-right: 12px;
}

.books a,
.tutorials a,
.stocks a,
.infogra a {
	color: #b7c0cd;
}

.dashboard {
	width: 191px;
	height: 195px;
	margin-top: 22px;
}

.messages {
	width: 191px;
	height: 16px;
	margin-top: 23px;
	line-height: 16px;
	font-size: 10px;	
}

.connections {
	width: 191px;
	height: 16px;
	margin-top: 20px;
	line-height: 16px;
	font-size: 10px;	
}

.integrations {
	width: 191px;
	height: 16px;
	margin-top: 20px;
	line-height: 16px;
	font-size: 10px;	
}

.account {
	width: 191px;
	height: 16px;
	margin-top: 20px;
	line-height: 16px;
	font-size: 10px;	
}

.app {
	width: 191px;
	height: 16px;
	margin-top: 20px;
	line-height: 16px;
	font-size: 10px;	
}

.messages a,
.connections a,
.integrations a,
.account a,
.app a {
	color: #b7c0cd;
}