body {
	width: 1580px;
	height: 1020px;
}

.primary {
	width: 100px;
	height: 1020px;
	background: #1d2531;
	float: left;
}

.secondry {
	width: 250px;
	height: 1020px;
	background: #222c3c;
	float: left;
}

.main {
	width: 1230px;
	height: 1020px;
	background: #fff;
	float: left;
}

.actions {
	width: 48px;
	height: 16px;
	margin: 660px auto 20px;
}

.grid {
	width: 16px;
	height: 16px;
	float: left;
	cursor: pointer;
}

.setting {
	width: 16px;
	height: 16px;
	float: left;
	margin-left: 16px;
	cursor: pointer;
}

.item1 {
	width: 64px;
	height: 64px;
	margin: 18px auto 0;
	cursor: pointer;
}

.item2 {
	width: 64px;
	height: 64px;
	margin: 16px auto 0;
	cursor: pointer;
}

.item3 {
	width: 64px;
	height: 65px;
	margin: 15px auto 0;
	cursor: pointer;
}

.add-items {
	width: 64px;
	height: 64px;
	margin: 16px auto 0;
	cursor: pointer;
}

.wrapper-secondry {
	width: 191px;
	height: 967px;
	margin: 30px 30px 23px 29px;
}

.wrapper-secondry span {
	display: block;
}

.sub-menu {
	width: 191px;
	height: 225px;
	border-bottom: solid 1px #2a3547;
}

.catagory {
	width: 191px;
	height: 16px;
}

.catagory span {
	line-height: 16px;
	font-size: 10px;
	color: #5b6779;
	float: left;
}

.catagory img {
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
}

.overview {
	width: 191px;
	height: 16px;
	margin-top: 24px;
	line-height: 16px;
	font-size: 10px;	
}

.sales {
	width: 191px;
	height: 16px;
	margin-top: 20px;
	line-height: 16px;
	font-size: 10px;	
}

.staff {
	width: 191px;
	height: 16px;
	margin-top: 20px;
	line-height: 16px;
	font-size: 10px;	
}

.analytic {
	width: 191px;
	height: 16px;
	margin-top: 20px;
	line-height: 16px;
	font-size: 10px;	
}

.new {
	width: 191px;
	height: 16px;
	margin-top: 20px;
	line-height: 16px;
	font-size: 10px;	
}

.overview a,
.sales a,
.staff a,
.analytic a,
.new a {
	color: #b7c0cd;
}

.products {
	width: 191px;
	height: 194px;
	margin-top: 23px;
	border-bottom: solid 1px #2a3547;
}

.books {
	width: 191px;
	height: 18px;
	margin-top: 22px;
	line-height: 18px;
	font-size: 10px;
}

.books img {
	width: 18px;
	height: 18px;
	float: left;
	margin-left: 1px;
	margin-right: 12px;
}

.tutorials {
	width: 191px;
	height: 18px;
	margin-top: 18px;
	line-height: 18px;
	font-size: 10px;	
}

.tutorials img {
	width: 18px;
	height: 18px;
	float: left;
	margin-left: 1px;
	margin-right: 11px;
}

.stocks {
	width: 191px;
	height: 20px;
	margin-top: 18px;
	line-height: 20px;
	font-size: 10px;	
}

.stocks img {
	width: 18px;
	height: 20px;
	float: left;
	margin-left: 1px;
	margin-right: 11px;
}

.infogra {
	width: 191px;
	height: 18px;
	margin-top: 17px;
	line-height: 18px;
	font-size: 10px;	
}

.infogra img {
	width: 18px;
	height: 18px;
	float: left;
	margin-left: 1px;
	margin-right: 12px;
}

.books a,
.tutorials a,
.stocks a,
.infogra a {
	color: #b7c0cd;
}

.dashboard {
	width: 191px;
	height: 228px;
	margin-top: 22px;
}

.messages {
	width: 191px;
	height: 16px;
	margin-top: 23px;
	line-height: 16px;
	font-size: 10px;	
}

.connections {
	width: 191px;
	height: 16px;
	margin-top: 20px;
	line-height: 16px;
	font-size: 10px;	
}

.integrations {
	width: 191px;
	height: 16px;
	margin-top: 20px;
	line-height: 16px;
	font-size: 10px;	
}

.account {
	width: 191px;
	height: 16px;
	margin-top: 20px;
	line-height: 16px;
	font-size: 10px;	
}

.app {
	width: 191px;
	height: 16px;
	margin-top: 20px;
	line-height: 16px;
	font-size: 10px;	
}

.messages a,
.connections a,
.integrations a,
.account a,
.app a {
	color: #b7c0cd;
}

.goals {
	width: 191px;
	height:10px;
	margin-top: 243px;
}

.monthly {
	width: 89px;
	height: 10px;
	line-height: 10px;
	font-size: 10px;
	color: #fff;
	float: left;
}

.number {
	width: 79px;
	height: 10px;
	line-height: 10px;
	font-size: 10px;
	color: #fff;
	float: right;
}

.progress-bar {
	position: relative;
	width: 191px;
	height: 4px;
	margin-top: 16px;
}

#base {
	width: 189px;
	height: 2px;
	background: #2d3848;
	border: solid 1px #2d3848;
	border-radius: 2px;
}

#fill {
	position: relative;
	left: 0;
	top: 4px;
	width: 38px;
	height: 2px;
	background: #8564e5;
	border: solid 1px #8564e5;
	border-radius: 2px;
}

.headtitle {
	width: 1230px;
	height: 80px;
	border-bottom: solid 1px #e6e9ec;
}

.msg {
	width: 104px;
	height: 16px;
	margin-top: 31px;
	margin-left: 30px;
	font-size: 16px;
	line-height: 16px;
	color: #354052;
	float: left;
}

.portrait {
	width: 201px;
	height: 50px;
	margin-top: 14px;
	margin-right: 31px;
	float: right;
}

.portrait img {
	width: 50px;
	height: 50px;
	float: left;
}

.name_info {
	width: 135px;
	height: 50px;
	float: right;
}

.name_title {
	width: 124px;
	height: 50px;
	float: left;
}

.name_title span {
	display: block;
}

.name_info img {
	width: 11px;
	height: 7px;
	margin-top: 24px;
	float: right;
	cursor: pointer;
}

#chatname {
	width: 64px;
	height: 15px;
	padding-top: 10px;
	font-size: 12px;
	color: #2399f1;
}
#title {
	width: 85px;
	height: 19px;
	padding-top: 6px;
	font-size: 10px;
	color: #b5b5b5;
}

.chats-main {
	width: 1230px;
	height: 939px;
}

.chats-column {
	width: 399px;
	height: 939px;
	float: left;
	border-right: solid 1px #e6e9ec;
}

.search {
	width: 399px;
	height: 69px;
	border-bottom: solid 1px #e6e9ec;
}

#search_blank {
	width: 324px;
	height: 34px;
	margin-top: 15px;
	margin-left: 30px;
	padding-left: 14px;
	border: solid 1px #e6e9ec;
	border-radius: 3px;
	font-size: 10px;
	background-image: url(../img/search.jpg);
	background-repeat: no-repeat;
	background-position: 309px 9px;
}

#search_blank::-ms-input-placeholder {
	color: #b5bcc9;
}

#search_blank::-webkit-input-placeholder {
	color: #b5bcc9;
}

.open-chat {
	width: 830px;
	height: 939px;
	float: right;
}

.active {
	width: 396px;
	height: 129px;
	border-left: solid 3px #2399f1;
	border-bottom: solid 1px #e6e9ec;
}

.active .friend-title {
	width: 396px;
	height: 75px;
}

.active img {
	width: 46px;
	height: 46px;
	margin-top: 15px;
	margin-left: 27px;
	float: left;
}

.active .name-info {
	width: 303px;
	height: 75px;
	margin-left: 20px;
	float: left;
}

.active h1 {
	display: block;
	font-size: 11px;
	color: #2399f1;
	width: 104px;
	height: 11px;
	margin-top: 24px;
	margin-left: 1px;
}

.active span {
	display: block;
	font-size: 10px;
	color: #b5b5b5;
	width: 43px;
	height: 10px;
	margin-top: 10px;
}

.active .signature {
	width: 369px;
	height: 54px;
	margin-left: 27px;
}

.active .signature p {
	display: block;
	width: 306px;
	height: 30px;
	font-size: 10px;
	line-height: 15px;
	color: #585d68;
	float: left;
}

.friends {
	width: 399px;
	height: 129px;
	border-bottom: solid 1px #e6e9ec;
}

.friends .friend-title {
	width: 399px;
	height: 76px;
}

.friends .friend-title img {
	width: 46px;
	height: 46px;
	margin-top: 16px;
	margin-left: 30px;
	float: left;
}

.friend-title .name-info {
	width: 303px;
	height: 76px;
	margin-left: 20px;
	float: left;
}

.friend-title .name-info h1 {
	display: block;
	font-size: 11px;
	color: #585d68;
	width: 118px;
	height: 11px;
	margin-top: 25px;
}

.friend-title .name-info span {
	display: block;
	font-size: 10px;
	color: #b5b5b5;
	width: 62px;
	height: 10px;
	margin-top: 10px;
}

.friends .signature {
	width: 369px;
	height: 53px;
	margin-left: 30px;
}

.signature p {
	display: block;
	width: 346px;
	height: 30px;
	font-size: 10px;
	line-height: 15px;
	color: #585d68;
	float: left;
}

.option {
	width: 830px;
	height: 69px;
	border-bottom: solid 1px #e6e9ec;
}

.name {
	width: 118px;
	height: 13px;
	margin-top: 27px;
	margin-left: 28px;
	float: left;
}

#name-status {
	display: block;
	width: 100px;
	height: 13px;
	line-height: 13px;
	font-size: 13px;
	color: #585d68;
	float: left;
}

#spot {
	display: block;
	width: 4px;
	height: 4px;
	border: solid 2px #1bb934;
	border-radius: 4px;
	background: #1bb934;
	float: right;
	margin-top: 4px;
	margin-right: 10px;
}

.tools {
	width: 284px;
	height: 32px;
	margin-right: 20px;
	margin-top: 16px;
	float: right;
}

.settings {
	width: 109px;
	height: 32px;
	float: left;
}

#add-friend {
	display: block;
	width: 36px;
	height: 32px;
	background: url(../img/tools.jpg) no-repeat 0 0;
	float: left;
}

#uploads {
	display: block;
	width: 37px;
	height: 32px;
	background: url(../img/tools.jpg) no-repeat -36px 0;
	float: left;
}

#delete {
	display: block;
	width: 36px;
	height: 32px;
	background: url(../img/tools.jpg) no-repeat -73px 0;
	float: left;
}

.pages {
	width: 152px;
	height: 32px;
	float: right;
}

#count {
	display: block;
	width: 56px;
	height: 30px;
	margin-top: 1px;
	font-size: 10px;
	color: #56688a;
	line-height: 30px;
	padding-left: 22px;
	border-left: solid 1px #f0f1f4;
	float: left;
}

#left {
	display: block;
	width: 37px;
	height: 32px;
	background: url(../img/leftRight.jpg) no-repeat 0 0;
	float: left;
}

#right {
	display: block;
	width: 36px;
	height: 32px;
	background: url(../img/leftRight.jpg) no-repeat -37px 0;
	float: left;
}

.chats {
	width: 830px;
	height: 869px;
}

.now {
	width: 830px;
	height: 260px;
}

.friend1 {
	width: 800px;
	height: 82px;
	margin-top: 25px;
	margin-left: 30px;
}

.friend1 img {
	width: 46px;
	height: 46px;
	float: left;
}

.friend1 .signa {
	width: 733px;
	height: 82px;
	margin-left: 21px;
	float: left;
}

.friend1 .upper {
	width: 733px;
	height: 11px;
	margin-top: 5px;
}

.friend1 h1 {
	display: block;
	width: 89px;
	height: 11px;
	font-size: 11px;
	color: #585d68;
	float: left; 
}

.friend1 span {
	display: block;
	width: 49px;
	height: 10px;
	font-size: 10px;
	color: #7f8fa4;
	margin-left: 9px;
	margin-top: 1px;
	float: left;
}

.friend1 .down {
	width: 733px;
	height:57px;
	font-size: 10px;
	color: #585d68;
	line-height: 19px;
	margin-top: 9px;
}

.friend2 {
	width: 800px;
	height: 158px;
	margin-top: 20px;
	margin-left: 30px;
}

.friend2 img {
	width: 46px;
	height: 46px;
	float: left;
}

.friend2 .signa {
	width: 733px;
	height: 158px;
	margin-left: 21px;
	float: left;
}

.friend2 .upper {
	width: 733px;
	height: 11px;
	margin-top: 5px;
}

.friend2 h1 {
	display: block;
	width: 112px;
	height: 11px;
	font-size: 11px;
	color: #585d68;
	float: left; 
}

.friend2 span {
	display: block;
	width: 49px;
	height: 10px;
	font-size: 10px;
	color: #7f8fa4;
	margin-left: 8px;
	margin-top: 1px;
	float: left;
}

.friend2 .down {
	width: 733px;
	height: 133px;
	font-size: 10px;
	color: #585d68;
	line-height: 19px;
	margin-top: 9px;
}

.rules-yesterday {
	width: 830px;
	height: 10px;
	margin-top: 0;
    letter-spacing: -0.7px;
    color: #d9dde3;
}
.rules-yesterday span{
    letter-spacing: 0;
    font-size: 10px;
    color: #d9dde3;
    margin:0 18px;
}

.yesterday {
	width: 830px;
	height: 343px;
}

.friend3 {
	width: 800px;
	height: 63px;
	margin-top: 22px;
	margin-left: 30px;
}

.friend3 img {
	width: 46px;
	height: 46px;
	float: left;
}

.friend3 .signa {
	width: 733px;
	height: 63px;
	margin-left: 21px;
	float: left;
}

.friend3 .upper {
	width: 733px;
	height: 11px;
	margin-top: 5px;
}

.friend3 h1 {
	display: block;
	width: 89px;
	height: 11px;
	font-size: 11px;
	color: #585d68;
	float: left; 
}

.friend3 span {
	display: block;
	width: 49px;
	height: 10px;
	font-size: 10px;
	color: #7f8fa4;
	margin-left: 9px;
	margin-top: 1px;
	float: left;
}

.friend3 .down {
	width: 733px;
	height: 38px;
	font-size: 10px;
	color: #585d68;
	line-height: 19px;
	margin-top: 9px;
}

.friend4 {
	width: 800px;
	height: 230px;
	margin-top: 20px;
	margin-left: 30px;
}

.friend4 img {
	width: 46px;
	height: 46px;
	float: left;
}

.friend4 .signa {
	width: 733px;
	height: 230px;
	margin-left: 21px;
	float: left;
}

.friend4 .upper {
	width: 733px;
	height: 11px;
	margin-top: 5px;
}

.friend4 h1 {
	display: block;
	width: 112px;
	height: 11px;
	font-size: 11px;
	color: #585d68;
	float: left; 
}

.friend4 span {
	display: block;
	width: 49px;
	height: 10px;
	font-size: 10px;
	color: #7f8fa4;
	margin-left: 8px;
	margin-top: 1px;
	float: left;
}

.friend4 .down {
	width: 733px;
	height: 95px;
	font-size: 10px;
	color: #585d68;
	line-height: 19px;
	margin-top: 9px;
}

.insertpic {
	width: 325px;
	height: 100px;
	margin-top: 15px;
}

.insertpic img {
	width: 156px;
	height: 100px;
	float: left;
}

#screenshoot1 {
	margin-right: 13px;
}

.rules-new {
	width: 830px;
	height: 10px;
	margin-top: 0;
    letter-spacing: -0.7px;
    color: #a7d6f9;
}
.rules-new span{
    letter-spacing: 0;
    font-size: 10px;
    color: #a7d6f9;
    margin:0 23px;
}

.friend5 {
	width: 800px;
	height: 63px;
	margin-top: 21px;
	margin-left: 30px;
}

.friend5 img {
	width: 46px;
	height: 46px;
	float: left;
}

.friend5 .signa {
	width: 733px;
	height: 63px;
	margin-left: 21px;
	float: left;
}

.friend5 .upper {
	width: 733px;
	height: 11px;
	margin-top: 5px;
}

.friend5 h1 {
	display: block;
	width: 89px;
	height: 11px;
	font-size: 11px;
	color: #585d68;
	float: left; 
}

.friend5 span {
	display: block;
	width: 49px;
	height: 10px;
	font-size: 10px;
	color: #7f8fa4;
	margin-left: 9px;
	margin-top: 1px;
	float: left;
}

.friend5 .down {
	width: 733px;
	height: 38px;
	font-size: 10px;
	color: #585d68;
	line-height: 19px;
	margin-top: 9px;
}

.text-input {
	width: 768px;
	height: 52px;
	margin-top: 79px;
	margin-left: 29px;
	border-radius: 2px;
}

.text-input span {
	display: block;
	width: 33px;
	height: 52px;
	font-size: 20px;
	line-height: 52px;
	padding-left: 19px;
	color: #9fa9ba;
	background: #f3f4f8;
	border-top: solid 1px #ced0da;
	border-bottom: solid 1px #ced0da;
	border-right: solid 1px #ced0da;
	float: left;
}

.text-input input {
	width: 714px;
	height: 50px;
	border-top: solid 1px #dfe3e9;
	border-right: solid 1px #dfe3e9;
	border-bottom: solid 1px #dfe3e9;
	border-left: 0;
	float: right;
}