.primary {
	width: 100px;
	height: 1020px;
	background: #1d2531;
	float: left;
}

.secondry {
	width: 250px;
	height: 1020px;
	background: #222c3c;
	float: left;
}

.main {
	width: 1230px;
	height: 1020px;
	background: #fff;
	float: left;
}

.actions {
	width: 48px;
	height: 16px;
	margin: 660px auto 20px;
}

.grid {
	width: 16px;
	height: 16px;
	float: left;
	cursor: pointer;
}

.setting {
	width: 16px;
	height: 16px;
	float: left;
	margin-left: 16px;
	cursor: pointer;
}

.item1 {
	width: 64px;
	height: 64px;
	margin: 18px auto 0;
	cursor: pointer;
}

.item2 {
	width: 64px;
	height: 64px;
	margin: 16px auto 0;
	cursor: pointer;
}

.item3 {
	width: 64px;
	height: 65px;
	margin: 15px auto 0;
	cursor: pointer;
}

.add-items {
	width: 64px;
	height: 64px;
	margin: 16px auto 0;
	cursor: pointer;
}

.wrapper-secondry {
	width: 191px;
	height: 967px;
	margin: 30px 30px 23px 29px;
}

.wrapper-secondry span {
	display: block;
}

.sub-menu {
	width: 191px;
	height: 225px;
	border-bottom: solid 1px #2a3547;
}

.catagory {
	width: 191px;
	height: 16px;
}

.catagory span {
	line-height: 16px;
	font-size: 10px;
	color: #5b6779;
}