header {
	height: 80px;
	background: #363636;
}

.wrapper-header {
	width: 960px;
	margin: 0 auto;
	color: #fff;
}

.wrapper-header span {
	line-height: 80px;
	float: left;
}

.wrapper-header nav {
	float: right;
}

.wrapper-header a {
	color: #fff;
}

.banner {
	height: 220px;
	background: #66CD00;
}

.wrapper-banner {
	position: relative;
	width: 960px;
	height: 220px;
	margin: 0 auto;
}

.btn {
	position: absolute;
	bottom: 15px;
	right: 0;
}

.btn span {
	background: #fff;
	display: inline-block;
	border: solid 1px black;
	width: 10px;
	height: 15px;
	padding: 5px;
	opacity: 0.5;
	line-height: 15px;
	vertical-align: bottom;
}

#active {
	height: 25px;
	opacity: 0.8;
	line-height: 35px;
}

.catalog {
	width: 960px;
	margin: 0 auto;
}

.wrapper-catalog {
	margin: 20px 0 0;
	padding: 0;
}

.wrapper-catalog:after {
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

.wrapper-catalog span {
	display: block;
	float: left;
	height: 50px;
	margin-left: 0;
	border-top: solid 1px #888;
	border-left: solid 1px #888;
	border-right: solid 1px #888;
	text-align: center;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	background: #EEEEE0;
}

.wrapper-catalog a {
	display: block;
	width: 100px;
	line-height: 50px;
	text-decoration: none;
}

#selected {
	background: #fff;
}

hr {
	margin-top: -1px;
	border: none;
	border-top: 1px ridge #888;
}

.main-content {
	width: 960px;
	margin: 0 auto;
}

.wrapper-content {
	height: 560px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: stretch;
	padding: 10px;
}

.row1,
.row2,
.row3 {
	height: 180px;
	flex-basis: 80%;
	display: flex;
	justify-content: flex-end;
	align-content: space-between;
}

.content {
	display: block;
	border: solid 1px #888;
	padding: 80px;
}

.row1 .content,
.row3 .content {
	width: 150px;
}

.row2 .content {
	width: 70px;
}

footer {
	height: 100px;
	background: #8B8B83;
}

.copy {
	display: block;
	color: #fff;
	padding-top: 10px;
	text-align: center;
}

