* {
	margin: 0;
	padding: 0;
}

.banner h1,
.banner span {
	display: block;
	text-align: center;
}

.banner form {
	width: 968px;
	height: 248px;
	margin: 0 auto;
	border: solid 1px black;
}

.banner form>h1 {
	margin-top: 53px;
}

.banner form>span {
	margin-top: 16px;
}

.sign-input {
	width: 769px;
	height: 50px;
	margin: 46px auto 51px;
}

#account {
	float: left;
	width: 288px;
	height: 48px;
	margin-right: 30px;
}

#password {
	float: left;
	width: 288px;
	height: 48px;
	margin-right: 30px;
}

#sign-button {
	float: left;
	width: 125px;
	height: 50px;
}

.boatloads h1,
.boatloads h2,
.boatloads span {
	display: block;
	text-align: center;
}

.boat {
	width: 968px;
	height: 248px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	border: 1px solid black;
}

.boat1,
.boat2 {
	width: 968px;
	height: 124px;
	flex-basis: 100%;
	display: flex;
	justify-content: space-between;
}

.boat-icon {
	width: 484px;
	border: 1px solid black;
}

.desc {
	width: 400px;
	height: 400px;
	margin-left: 200px;
	border: 1px solid black;
}

.check-button,
.try-button {
	width: 185px;
	height: 50px;
}

.products {
	width: 972px;
	height: 350px;
	margin: 0 auto;
}

.products h1 {
	display: block;
	text-align: center;
}

.article {
	width: 322px;
	height: 350px;
	border: 1px solid black;
	float: left;
}



.schemes {
	width: 968px;
	height: 750px;
	margin: 0 auto;
	border: 1px solid black;
	clear: both;
}

.scheme1,
.scheme2 {
	width: 968px;
	height: 350px;
	border: 1px solid black;
}

.scheme1 {
	margin-bottom: 46px;
}

.leaf,
.bird {
	width: 570px;
	height: 350px;
	border: 1px solid black;
}

.improve,
.design {
	width: 392px;
	height: 350px;
	border: 1px solid black;
}

.leaf,
.improve,
.design,
.bird {
	float: left;
}

.crew h1,
.crew span {
	display: block;
	text-align: center;
}

.crewbox {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 968px;
  height: 708px;
  margin: 0 auto;
  border: 1px solid black;
}

.box1 {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  width: 968px;
  height: 340px;
  border: 1px solid black;
}

.item {
	width: 470px;
	height: 340px;
	border: 1px solid black;
}

.contact {
	width: 968px;
	height: 708px;
	margin: 0 auto;
	border: 1px solid black;
}

.contactform {
	float: left;
	width: 470px;
	height: 708px;
	border: 1px solid black;
}

.contactform h1 {
	text-align: center;
}

#account2,
#subject {
	display: block;
	width: 288px;
	height: 48px;
	margin-bottom: 20px;
	margin-left: 90px;
}

#message {
	display: block;
	width: 288px;
	height: 144px;
	margin-bottom: 20px;
	margin-left: 90px;
}

#send-button {
	width: 288px;
	height: 48px;
	margin-left: 90px;
	background: #000;
	color: #fff;
}	

.contactinfo {
	float: right;
	width: 492px;
	height: 708px;
	border: 1px solid black;
}

.contactinfo>h1 {
	margin-bottom: 20px;
}

.contactinfo>span {
	display: block;
	color: #888;
}

.contactinfo>ul {
	margin-top: 20px;
	list-style-type: none;
	font-weight: bold;
}

footer {	
	color: #fff;
	background: #000;
}

footer>ul {
	list-style-type: none;
	color: #888;
}

.column {
	width: 250px;
	height: 500px;
	border: 1px solid black;
	float: left;
}

.highlight {
	font-weight: bold;
}