* {
	margin: 0;
	padding: 0;
}

.banner {
	background: url(img/background.png) 0 0 no-repeat;
	width: 100%;
	height: 992px;
	border: solid 1px #fff;
}

.banner-text {
	margin-top: 208px;
}

.banner h1 {
	font-size: 48px;
	color: #fff;
	text-align: center;
}


.banner span {
	display: block;
	font-size: 16px;
	color: #d8d5d0;
	width: 620px;
	height: 84px;
	text-align: center;
	margin: 87px auto 0;
}

.banner form {
	width: 968px;
	height: 248px;
	margin: 104px auto 210px;
	border: solid 1px #fff;
}

.banner form>h1 {
	font-weight: bold;
	font-size: 12px;
	margin-top: 60px;
}

.banner form>span {
	font-size: 10px;
	margin-top: 20px;
	color: #d8d5d0;
}

.sign-input {
	width: 769px;
	height: 50px;
	margin: -20px auto;
}

#account {
	float: left;
	width: 268px;
	height: 48px;
	margin-right: 30px;
	border: solid 1px #fff;
	background: rgba(0,0,0,0);
	padding-left: 20px;
}

#password {
	float: left;
	width: 268px;
	height: 48px;
	margin-right: 30px;
	border: solid 1px #fff;
	background: rgba(0,0,0,0);
	padding-left: 20px;
}

#sign-button {
	float: left;
	width: 125px;
	height: 50px;
	background: #fff;
	cursor: pointer;
}

#account::-ms-input-placeholder {
	color: #fff;
}

#account::-webkit-input-placeholder {
	color: #fff;
}

.boatloads {
	width: 100%;
	height: 620px;
}

.boatloads h1,
.boatloads h2,
.boatloads span {
	display: block;
	text-align: center;
	color: #6c6c6c;
}

.boatloads h1 {
	margin-top: 90px;
	font-size: 12px;
}

.boatloads h2 {
	width: 660px;
	height: 94px;
	margin: 39px auto 0;
	font-size: 33px;
}

.boatloads h3 {
	font-size: 14px;
	color: #6c6c6c;
}

.boatloads span {
	font-size: 14px;
	color: #a0a0a0;
}

.boat {
	width: 968px;
	height: 248px;
	margin: 85px auto 0;
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.boat1,
.boat2 {
	width: 968px;
	height: 124px;
	flex-basis: 100%;
	display: flex;
	justify-content: space-between;
}

.boat-icon {
	width: 484px;
}

.boat-icon img {
	display: block;
	float: left;
}

.icon-desc {
	width: 395px;
	height: 120px;
	padding-top: 4px;
	padding-left: 30px;
	float: right;
}

.icon-desc span {
	margin-top: 25px;
	text-align: left;
}

.supportive {
	background: url(img/bg_sup.png) #000 0 0 no-repeat;
	width: 100%;
	height: 799px;
}

.describe {
	width: 508px;
	height: 799px;
	margin-left: 190px;
	float: left;
}

.desc {
	width: 364px;
	height: 496px;

}

.desc h1 {
	margin-top: 192px;
	font-family: Montserrat ExtraLight;
	font-size: 32px;
	color: #fff;
	display: block;
}

.desc span {
	margin-top: 47px;
	font-size: 16px;
	color: #fff;
	display: block;
}

.ipad {
	width: 645px;
	height: 600px;
	margin-top: 103px;
	float: right;
}

.supp-button {
	width: 508px;
	height: 60px;
	margin-top: -178px;
}

.check-button,
.try-button {
	width: 238px;
	height: 58px;
	float: left;
}

.check-button {
	background-color: #fff;
	font-size: 10px;
}

.try-button {
	border: solid 1px #fff;
	background: rgba(0,0,0,0);
	color: #fff;
	margin-left: 30px;
}

.products {
	clear: both;
	width: 972px;
	height: 580px;
	margin: 0 auto;
	border-bottom: solid 1px #e7e7e7;
}

.products h1 {
	font-size: 32px;
	margin-top: 99px;
	display: block;
	text-align: center;
}

.article {
	margin-top: 72px;
	width: 262px;
	height: 350px;
	margin-left: 20px;
	float: left;
}

.article img {
	margin: 20px 82px 20px;
}

.article span {
	display: block;
	font-size: 12px;
	color: #a0a0a0;
	text-align: center;
}

.schemes {
	width: 968px;
	height: 750px;
	margin: 0 auto;
	border: 1px solid black;
	clear: both;
}

.scheme1,
.scheme2 {
	width: 968px;
	height: 350px;
	border: 1px solid black;
}

.scheme1 {
	margin-bottom: 46px;
}

.leaf,
.bird {
	width: 570px;
	height: 350px;
	border: 1px solid black;
}

.improve,
.design {
	width: 392px;
	height: 350px;
	border: 1px solid black;
}

.leaf,
.improve,
.design,
.bird {
	float: left;
}

.crew h1,
.crew span {
	display: block;
	text-align: center;
}

.crewbox {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 968px;
  height: 708px;
  margin: 0 auto;
  border: 1px solid black;
}

.box1 {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  width: 968px;
  height: 340px;
  border: 1px solid black;
}

.item {
	width: 470px;
	height: 340px;
	border: 1px solid black;
}

.contact {
	width: 968px;
	height: 708px;
	margin: 0 auto;
	border: 1px solid black;
}

.contactform {
	float: left;
	width: 470px;
	height: 708px;
	border: 1px solid black;
}

.contactform h1 {
	text-align: center;
}

#account2,
#subject {
	display: block;
	width: 288px;
	height: 48px;
	margin-bottom: 20px;
	margin-left: 90px;
}

#message {
	display: block;
	width: 288px;
	height: 144px;
	margin-bottom: 20px;
	margin-left: 90px;
}

#send-button {
	width: 288px;
	height: 48px;
	margin-left: 90px;
	background: #000;
	color: #fff;
}	

.contactinfo {
	float: right;
	width: 492px;
	height: 708px;
	border: 1px solid black;
}

.contactinfo>h1 {
	margin-bottom: 20px;
}

.contactinfo>span {
	display: block;
	color: #888;
}

.contactinfo>ul {
	margin-top: 20px;
	list-style-type: none;
	font-weight: bold;
}

.contactinfo li {
	margin-top: 20px;
	padding-left: 29px;
}

.adress {
	padding-bottom: 6px;
	background: url(img/adress.png) 0 0 no-repeat;
}

.phone {
	padding-bottom: 5px;
	background: url(img/phone.png) 0 0 no-repeat;
}

.mail {
	padding-bottom: 5px;
	background: url(img/mail.png) 0 0 no-repeat;
}

footer {	
	color: #fff;
	background: #000;
}

.wrapper {
	width: 1000px;
	height: 500px;
	margin: 0 auto;
	border: 1px solid #fff;
}

.notes {
	list-style-type: none;
	color: #888;
}

.notes li {
	margin-bottom: 20px;
}

.column {
	width: 248px;
	height: 500px;
	border: 1px solid #fff;
	float: left;
}

.column span {
	display: block;
	color: #888;
	font-size: 14px;
	margin-top: 20px;
}

.highlight {
	font-weight: bold;
	color: #fff;
	font-size: 14px;
}

#twitter {
	float: left;
	width: 30px;
	height: 18px;
	background: url(img/SNS.png) 0 0 no-repeat;
}

#facebook {
	float: left;
	width: 30px;
	height: 18px;
	background: url(img/SNS.png) -40px 0 no-repeat;
}

#google {
	float: left;
	width: 30px;
	height: 18px;
	background: url(img/SNS.png) -75px 0 no-repeat;
}

#tel {
	float: left;
	width: 30px;
	height: 18px;
	background: url(img/SNS.png) -122px 0 no-repeat;
}

#weibo {
	float: left;
	width: 30px;
	height: 18px;
	background: url(img/SNS.png) -163px 0 no-repeat;
}

#ins {
	float: left;
	width: 30px;
	height: 18px;
	background: url(img/SNS.png) -200px 0 no-repeat;
}