body {
	font-family: "Arial", sans-serif;
}
h1 {
    font-size: 32px;
    text-align: center;
}
h2 {
	margin-bottom: 0;
	width: 85px;
	font-size: 20px;
	background: #7A8B8B;
	color: #fff;
}
hr {
	margin-top: 0;
	height: 3px;
	border: none;
	border-top: 3px ridge #7A8B8B;
}
p {
    color: orange;
    text-indent: 2em;
}
table {
	width: 98%;
	margin: 0 auto;
}
ul li {
	list-style-type: none;
}
.main {
	width: 90%;
	margin: 0 auto;
}
.photo {
	width: 80px;
}
.section {
	background: #E8E8E8;
	box-shadow: 2px 2px 3px #848484;
	padding-bottom: 10px;
}
.option {
	font-weight: bold;
}
footer {
	width: 90%;
	margin: 0 auto;
}
.contact {
	margin: 16px;
	text-align: center;
	line-height: 30px;
}
a {
	text-decoration: none;
	color: #999;
}
a:hover,
a:visited {
	color: #FF6A6A;
}